body {
	font-family: "Lato", sans-serif;
	font-size: 80%;
}

.sidenav {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #01A9DB;
	overflow-x: hidden;
}

.profil_image {
	display: block;
	margin-top: 10%;
	margin-left: auto;
    margin-right: auto;
	width: 70%;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
}

.sidenav_title {
	color: #ffffff;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.6vw;
}
.sidenav_text{
	color: #ffffff;
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1vw;
}

.sidenav_profil_name{
	color: #ffffff;
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 2vw;
	text-align: center;
}

.sidenav_coord{
	margin-left: 5%;
	margin-right: 5%;
	color: #ffffff;
	font-size: 1vw;
}

.coord_link{
	display: inline;
	font-size: 1vw;
}

.projects_frame {
	color: #ffffff;
	display: block;
	background-color: White;
	width:100%;
	height:100%;
}

.main {
	margin-left: 20%;
	font-size: 28px;
	padding: 0px 10px;
}

.project_part{
	font-size: 3vw;
}

.project {
	position: relative;
	display: block;
	margin : 10px;
}

.desc {
	width:50%;
	display: inline-block;
}

.project_title {
	color: Black;
	display: block;
	font-size: 2vw;
}

.project_description {
	color: Black;
	display: inline-block;
	text-align: justify;
	width : 95%;
	font-size: 1.75vw;
}

.project_separator{
	margin-top:50px;
	width: 50%;
}

.image {
	position: relative;
	margin-left: 5%;
	width: 40%;
	display: inline;
}